:root {
  --display-2xl-font-size: 72px;
  --display-2xl-line-height: 88px;
  --display-2xl-letter-spacing: -0.022em;
  --display-base-font-size: 36px;
  --display-base-line-height: 44px;
  --display-base-letter-spacing: -0.021em;
  --display-lg-font-size: 48px;
  --display-lg-line-height: 60px;
  --display-lg-letter-spacing: -0.022em;
  --display-sm-font-size: 30px;
  --display-sm-line-height: 38px;
  --display-sm-letter-spacing: -0.019em;
  --display-xl-font-size: 60px;
  --display-xl-line-height: 72px;
  --display-xl-letter-spacing: -0.022em;
  --display-xs-font-size: 24px;
  --display-xs-line-height: 32px;
  --display-xs-letter-spacing: -0.019em;
  --text-xl-font-size: 20px;
  --text-xl-line-height: 30px;
  --text-xl-letter-spacing: -0.017em;
  --text-lg-font-size: 18px;
  --text-lg-line-height: 28px;
  --text-lg-letter-spacing: -0.014em;
  --text-base-font-size: 16px;
  --text-base-line-height: 24px;
  --text-base-letter-spacing: -0.011em;
  --text-sm-font-size: 14px;
  --text-sm-line-height: 20px;
  --text-sm-letter-spacing: -0.006em;
  --text-xs-font-size: 12px;
  --text-xs-line-height: 16px;
  --text-xs-letter-spacing: 0.000em;
  --text-2xs-font-size: 10px;
  --text-2xs-line-height: 12px;
  --text-2xs-letter-spacing: 0.000em;
}
